<!DOCTYPE html>
<html>
<body>

<h2>Message Form</h2>

<form action="/send">
  Name:<br>
  <input type="text" name="username">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Favorite Studio:<br>
  <input type="text" name="content">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
