<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>

<% if (user) { %>
  <a href="/logout">Log Out</a>
<% } else { %>
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
<% } %>

<h2>Message Form</h2>

<form action="/send">
  Name:<br>
  <input type="text" name="username">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Favorite Studio:<br>
  <input type="text" name="content">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<% if (user) { %>
  <h4>Number of Submissions: <%= user.count %></h4>
<% } %>

</body>
</html>
