<!DOCTYPE html>
<html>
<body>

<h2>Details Sent</h2>

<h3>Name:</h3>
<p><%=msg.username%></p>

<h3>Email:</h3>
<p><%=msg.email%></p>

<h3>Favorite Studio:</h3>
<p><%=msg.content%></p>

</body>
</html>
